*.cmd
*.ko
*.o
*Module.symvers
*modules.order
*mod.c
.tmp_versions
netlinkrw/UserToKern/user/nlwriter
netlinkrw/UserToKern/user/nlreader
chrdev/UserToKern/user/writewrapper
netlinkrw/KernToUser/user/nlwriter
netlinkrw/KernToUser/user/nlreader
chrdev/KernToUser/user/writewrapper
mmapdev/UserToKern/user/mmapwrapper
