*.cmd
*.ko
*.o
*Module.symvers
*modules.order
*mod.c
netlinkrw/UserToKern/user/nlwriter
netlinkrw/UserToKern/user/nlreader
netlinkrw/UserToKern/kern/.tmp_versions/nlkern.mod
chrdev/UserToKern/user/writewrapper
netlinkrw/KernToUser/user/nlwriter
netlinkrw/KernToUser/user/nlreader
netlinkrw/KernToUser/kern/.tmp_versions/nlkern.mod
chrdev/KernToUser/user/writewrapper
