*.cmd
*.ko
*.o
*Module.symvers
*modules.order
*mod.c
.tmp_versions
netlink_simple/UserToKern/user/nlwriter
netlink_simple/UserToKern/user/nlreader
rwdev/UserToKern/user/writewrapper
netlink_simple/KernToUser/user/nlwriter
netlink_simple/KernToUser/user/nlreader
rwdev/KernToUser/user/writewrapper
mmapdev/UserToKern/user/mmapwrapper
relay/KernToUser/user/relaywrapper
pipe/KernToUser/user/pipeus
